<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bigk>
            <general_settings>
                <enabled>1</enabled>
                <api_url>https://ssoc.solarbk.vn/api/bigktools/v2/calculator</api_url>
            </general_settings>            
        </bigk>
    </default>
</config>
